<nav class="w-full">
    <div class="flex flex-col lg:flex-row w-full tracking-wide font-thin text-tintapod-gray text-base py-8 px-12 justify-between items-center">
        <div class="flex flex-col w-full">
            <div class="flex flex-row">
                <a rel="noopener" href="#our-story">OUR STORY</a>
            </div>
        </div>
        <div class="hidden lg:flex flex-col text-center font-normal text-xl tracking-wider">
            <a href="#">{{ site.Title }}</a>
        </div>
        <div class="flex flex-col w-full">
            <div class="flex flex-col lg:flex-row lg:justify-end">
                <a rel="noopener" href="#services" class="mr-12">SERVICES</a>
                <a rel="noopener" href="#contact">CONTACT</a>
            </div>
        </div>
    </div>
</nav>
