<div id="contact" class="contact flex-col w-screen h-screen py-12 px-8 snap-always snap-start">
    <div class="flex flex-col lg:flex-row w-full">
        <div class="flex w-full justify-center lg:justify-start items-center h-8">
            <button class="rounded-full bg-tintapod-gray py-1 px-2">
                <a
                    rel="noopener"
                    href="mailto:support@tintapod.com?subject=Type%20your%20subject%20here...&body=Type%20your%20message%20here...%0D%0A%0D%0ACheers%2C%0D%0AHappy%20Customer"
                    target="_blank"
                    class="lowercase"
                    >support@tintapod.com</a
                >
            </button>
        </div>
        <div class="flex flex-col lg:flex-row w-full justify-center lg:justify-end items-center lg:h-8 font-medium tracking-wider text-tintapod-gray">
            <div class="lg:mr-6"><a href="https://www.youtube.com/channel/UCKGKkgpE-coALp_qObrv4Fw" target="_blank" class="">YOUTUBE</a></div>
            <div class="lg:mr-6">
                <a href="https://www.instagram.com/tintapod.co?igsh=YWM1dm9kOW14eG03&utm_source=qr" target="_blank" class="">INSTAGRAM</a>
            </div>
            <div class="lg:mr-6"><a href="https://www.tiktok.com/@tintapod.co?_t=8jIrJuJF9Wf&_r=1" target="_blank" class="">TIKTOK</a></div>
            <div class="lg:mr-6"><a href="https://twitter.com/tintapod" target="_blank" class="">X</a></div>
            <div class=""><a href="https://www.linkedin.com/company/101418142/admin/feed/posts/" target="_blank" class="">LINKEDIN</a></div>
        </div>
    </div>
    <div class="flex flex-col flex-auto w-full mt-4 text-tintapod-amber font-black text-7xl lg:text-[21.4vw] xl:text-[22vw] tracking-wider">
        <div class="flex justify-center lg:justify-end w-full">REACH</div>
        <div class="flex justify-center lg:justify-end w-full">OUT</div>
    </div>
    {{/*  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js" type="text/javascript"></script>  */}}
    <script></script>
</div>
